<div class="col-sm-12">
    <form [formGroup]="this.userDetailsForm" (ngSubmit)="OnSubmitForm()">  
      <h2 class="text-center text-primary mt-2 mb-2">Registre</h2>
      <div class="form-group alert alert-warning" role="alert">
        Todos los datos son requeridos...
      </div>
        <div>
            <label for="fullName">Nombre Completo :</label>
            <input type="text" id="fullName" name="fullName"formControlName="fullName" 
            placeholder="nombre completo"/>
        </div>
        <div>
            <label for="email">Email :</label>
            <input type="text" id="email" name="email"
            formControlName="email" placeholder="correo electronico"/>
        </div>
        <div>
          <label for="userName">Username :</label>
          <input type="text" id="userName" name="userName"
          formControlName="userName" placeholder="nombre de usuario"/>
        </div>
        <div>
          <label for="password"> Contraseña :</label>
          <input type="password" id="password" name="password"
          formControlName="password" placeholder="escriba la contraseña"/>
        </div>
        <div>
            <label for="Confirmpassword"> Confirmar :</label>
            <input type="password" id="Confirmpassword" name="Confirmpassword"
            formControlName="Confirmpassword" placeholder="nuevamente escriba la contraseña">
        </div>
        <div *ngIf="invalidPass" class="alert alert-danger">
              confirmación de contraseña incorrecta
        </div>
        <button type="submit">Guardar</button>
  </form>
  </div>