<div class="col-sm-12">
    <form>  
      <h2 class="text-center text-primary mt-2 mb-2">Registre</h2>
        <div>
            <label for="Fullname">Nombre Completo :</label>
            <input type="text" id="Fullname" name="Fullname" required>
        </div>
        <div>
            <label for="Emailname">Email :</label>
            <input type="text" id="Emailname" name="Emailname" required>
        </div>
        <div>
          <label for="username">Username :</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div>
          <label for="password"> Contraseña :</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="Confirmpassword"> Confirmar :</label>
            <input type="password" id="Confirmpassword" name="Confirmpassword" required>
        </div>
        <div  class="alert alert-danger">
              confirmación de contraseña incorrecta
        </div>
        <button type="submit">Confirmar</button>
  </form>
  </div>