<div class="col-sm-12">
  <form>  
    <h2 class="text-center text-primary mt-2 mb-2">Login</h2>
      <div>
        <label for="userEmail">Email:</label>
        <input type="email" id="userEmail" name="userEmail" [(ngModel)]="email" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <div *ngIf="authUser.hasError" class="alert alert-danger">
            valide usuario o contraseña
      </div>
      <button type="button" class="bg-primary" (click)="login()" [disabled]="authUser.loading" >Login</button>
      <button type="button" class="bg-white" [disabled]="authUser.loading" >
        <a routerLink="/registre" >Registre</a></button> 
</form>
</div>

  