<div class="col-sm-6 m-auto">
    <form [formGroup]="categoryDetailsForm" (ngSubmit)="OnSubmitForm()">
        <div *ngIf="Required" class="form-group alert alert-danger">
            Datos requeridos: nombre de la categoría
         </div>
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" class="form-control" id="name" placeholder="Nombre de la categoría" formControlName="name">
        </div>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea class="form-control" rows="3" id="description" name="description" id="description" 
            formControlName="description" maxlength="255"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-primary" routerLink="/Categories">Buscar</button>
    </form>
</div>

